<header class="header">

  <div class="content-layout"><div class="content-layout-row"><div class="layout-cell" style="width: 40%;"><!-- begin nostyle -->
    <div class="nostyle logo">
      <!-- begin nostyle content -->


      <div class="custom logo">
        <h1 style="padding: 13px 20px;"><a href="http://localhost:4200/main"><img class="logo" src="assets/img/logo.jpg" border="0" alt="logo" style="border: 0;"></a></h1></div>
      <!-- end nostyle content -->
    </div>
    <!-- end nostyle -->
  </div><div class="layout-cell" style="width: 40%;"><!-- begin nostyle -->
    <div class="nostylecons">
      <!-- begin nostyle content -->


      <div class="customcons">
        <div class="ph"><img src="/images/ph.png" border="0"></div>
        <div class="con">
          <p>Онлайн консультация</p>
          <p><a href="tel:+996770800688"><img src="/images/wal1.png" border="0">+ 996 770 800 688</a></p>
          <p><a href="tel:+996777950099"><img src="/images/wal1.png" border="0">+ 996 777 950 099</a></p>
        </div></div>
      <!-- end nostyle content -->
    </div>
    <!-- end nostyle -->
    <!-- begin nostyle -->
    <!-- end nostyle -->
  </div><div class="layout-cell" style="width: 15%;"><!-- begin nostyle -->
    <div class="nostyle">
      <!-- begin nostyle content -->
      <div id="jshop_module_cart" style="
    padding-top: 4px;
    text-align: center;">

        <a href="/magazin/cart/view.html">
          <img src="/images/card.png" height="100px" style="
    left: -3px;
    position: relative;">  </a>

        <table style="
    text-align: center;
    border-collapse: separate;  border-spacing: 2px;  border-color: gray;
    font-size: 13px;  font-weight: bold;width: 140px;margin: auto;    border-top: 1px solid #E8E8E8;    color: #777777;">
          <tbody><tr style="    height: 30px;">
            <td>
              <span id="jshop_quantity_products">0</span>&nbsp;Шт.
            </td>
            <td>-</td>
            <td>
              <span id="jshop_summ_product">0 СОМ</span>
            </td>
          </tr>
          <tr>
            <!--td colspan="3" align="right" style="vertical-align: middle;text-align: center;">
                <a
        style="border: 0;
        background: rgb(152,227,22);
        color: #09693B;
        text-transform: uppercase;
        font-size: 90%;
        font-weight: bold;
        font-style:none;
        padding: 4px 10px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;" href = "/magazin/cart/view.html"> В корзину</a>
            </td-->
          </tr>
          </tbody></table>
      </div><!-- end nostyle content -->
    </div>
    <!-- end nostyle -->
  </div></div></div>
</header>
