.header_pos{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  width: 100%;
}

.header_bg {
  background-image: url("src/assets/img/shapka.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  background-color: #fffef0;
}

.head_contact {
  background-color: #feffe5;
}
.header_block{
  display: inline-block;
}

.flex-container {
  display: flex;
  border:1px #ccc solid;
}
.space-between{
  justify-content: space-between;
}

.flex-item {
  text-align:center;
  font-size: 1em;
  padding: 1.5em;
  color: white;
}

.logo {
  width: 100px;
  height: 40px;
}
.whats_logo {
  width: 15px;
  height: 15px;
}

.whats_text{
  display: flex;
  font-size: 13px;
  margin-top: 4px;
}

.flex-container-column div {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.flex-item {
  text-align:center;
  font-size: 1em;
  padding: 1.2em;
  color: white;
}

.head_banner {
  width: 100%;
  height: 100px;

  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

* {box-sizing:border-box}

.display_view {
  margin-top: -4px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 200px;
  margin-top: 120px;
}


.img_slide {
  cursor: pointer;
  width: 100%;
  height: 200px;
}

@media (max-width: 400px) and (min-width: 0px) {
  .display_view {
    display: none;
  }
  .img_slide {
    height: 100px;
  }
  .slideshow-container {
    width: 100%;
    height: 100px;
    margin-top: 100px;
  }
  .head_contact {
    justify-content: center
  }
  .whats_text {
    margin-top: 1px;
    margin-right: 10px;
  }

}
