<header class="header_pos">
    <div class="flex-container space-between header_bg">
      <div >
        <h1 style="padding: 13px 20px;"><a href="http://localhost:4200/main"><img class="logo" src="assets/img/logo.jpg" border="0" alt="logo" style="border: 0;"></a></h1>
      </div>
      <div class="flex-container-column">
        <div>
          <a href="tel:+996555143803" class="whats_text"><img src="assets/img/whatsapp.png" border="0" class="whats_logo"> + 996 555 143 803</a>
        </div>
        <div>
          <a href="https://instagram.com/ludmila_juchheim_kg?igshid=1r1zm5flq9r9h" class="whats_text"><img src="assets/img/instagram.jpg" border="0" class="whats_logo"> @ludmila_juchheim_kg</a>
        </div>
      </div>
    </div>
  <div class="head_banner" id="headId" (click)="routeBanner()">

  </div>
</header>
