.header_pos{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}

.header_block{
  display: inline-block;
}

.flex-container {
  display: flex;
  border:1px #ccc solid;
}
.space-between{
  justify-content: space-between;
}

.flex-item {
  text-align:center;
  font-size: 1em;
  padding: 1.5em;
  color: white;
}
