<div class="main_inner">
  <div class="main-content-inner">
    <div id="main-content" class="main-content full-width box-page">
      <div id="primary" class="content-area">
        <div id="content" class="site-content" role="main">
          <article class="page type-page status-publish hentry">
            <div class="entry-content">
              <div class="woocommerce">

                <h1>Метод д-ра Juchheim</h1>
                <p>Метод д-ра Juchheim - это синтез между природными активными ингредиентами и современной высокотехнологичной наукой. Эти компоненты точно сбалансированы друг с другом и обрабатываются собственными методами. Результат: видимый мгновенный эффект в сочетании с впечатляющим долгосрочным  воздействием. Самое лучшее состоит в том, что каждый может без сложного или специализированного косметического ухода сразу достичь этих результатов с комфортом у себя дома. </p>
                <blockquote>
                  <p> «Должны собраться вместе несколько частей пазла, прежде чем что-то будет работать комплексно». </p>
                </blockquote>
                <div class="main"> <img class="imgrechts25" height="343" src="assets/img/bild1_1.jpg">
                  <p> Это убеждение является фундаментом исследований, на котором основан метод д-ра Juchheim. В своей 35-летней карьере известный врач всегда делал упор на связь современных технологий с традиционным врачебным искусством из далеких стран. Так он уже давно использует традиционные индийские аюрведические знания, задолго до того, как они стали широко известны в западном мире. Во время своих многочисленных путешествий по Индии, Азии и Африке, он изучал удивительное действие лекарственных растений других стран и начал обширные исследования. </p>

                  <p> В дополнение к работе над традиционными методами оздоровления и ухода, текущего состояния науки и исследований, он всегда был вовлечен в разработки. </p>
                  <p> Д-р Jürgen Juchheim видит свою работу целостно: активные ингредиенты косметики эффекта, которая носит его имя, должны быть хорошо настроены так же, как инструменты в оркестре, чтобы быть эффективными. Даже незначительные изменения в концентрациях могут привести к другим результатам. Тот, кто видит эффект своими глазами, действительно верит, что это за гранью между наукой и искусством. </p>
                </div>
                <div class="setclear"></div>


                <p> <img alt="bild2_1" class="imgcenter"  src="assets/img/bild2_a.jpg"> </p>

                <h2>Открытие «3D-эффекта»</h2>
                <p> Основным преимуществом в косметической области было общее понимание того, что растительные вещества с липофильными компонентами проникают в глубокие слои кожи и становятся эффективными там. </p>
                <p> Основываясь на этих знаниях, однажды д-ру Juchheim пришла блестящая идея скомбинировать эти «регулирующие воду факторы» с активизирующими и усиливающими кровообращение ингредиентами. Он разрывался между тем, чтобы применить это на практике и проверить эту идею в своей лаборатории. Возможно ли на самом деле усилить эффект косметики с этим? </p>
                <p> Сегодня он реализует этот «3D-эффект» в антицеллюлитном креме ByeByeCellulite®. Уже первые испытания показали поразительный эффект. Даже после первого применения целлюлит заметно уменьшается. Через 4 недели можно увидеть уменьшение окружности бедер на 4 см. Женщины, протестировавшие этот крем,  глубоко впечатлены и довольны прекрасным, заметно улучшенным внешним видом своей кожи. </p>
                <!-- <div>
                  <figure class="gesamt">
                    <figure class="single100"><img height="270" src="/img/bild3_1.jpg" width="980" />
                      <figcaption>Это новаторское открытие 3D-эффекта является основой всемирной уникальной новой косметики, косметики эффекта д-ра медицины Jürgen Juchheim.</figcaption>
                    </figure>
                  </figure>
                </div> -->
                <div class="setclear"></div>
                <div class="main">
                  <h2> Дерево Гуггул (Коммифора мукул) </h2>
                  <img class="imgrechts15" height="230" src="assets/img/bild4_1.jpg" width="326">
                  <p> Индийское дерево Гуггул (Индийская мирра) было известно в Аюрведической медицине на протяжении тысяч лет как лекарственное растение. Смола дерева Гуггул используется в Аюрведе в основном при липометаболических нарушениях (жировых обменов веществ). Западная медицина теперь тоже подтвердила эффект снижения уровня холестерина  от смолы. Основные активные ингредиенты - стероиды, так называемые Гуггулстероны. </p>
                  <p> В кометике эффекта активные ингредиенты смолы дерева Гуггул изнутри заботятся о более гладкой коже, более объемных и красивых губах и  в состоянии сделать области шеи и декольте более упругими.  </p>
                </div>
                <h2> Стволовые клетки<br>
                </h2>
                <p> Стволовые клетки человека расположены в эпидермисе, где они производят новые, свежие клетки кожи и обеспечивают постоянную регенерацию кожи. С возрастом дермальные стволовые клетки становятся слабыми. Для того, чтобы получить их обновление, специально выведенные стволовые клетки растений помещаются в стволовые клетки кожи. Для усталых клеток кожи это похоже на сигнал к пробуждению, потому что в тот момент, когда стволовые клетки растений связываются со стволовыми клетками кожи, она возрождается и начинает снова обновлять клетки. </p>
                <p> Таким образом, кожа может регенерировать, возникая из стволовых клеток, и лицо будет выглядеть более свежим и более гладким в течении длительного времени. Признаки старения кожи замедляются. </p>
                <h2>Пептиды</h2>
                <p> Пептиды образовываются естественным образом в коже и в теле и состоят из цепочки нескольких аминокислот (основных строительных блоков эндогенного белка). Существует множество различных пептидов с совершенно разными функциями. В косметике эффекта пептиды могут укреплять кожу, стимулировать синтез коллагена и эластина, способствуя обновлению клеток, а так же активировать регенерацию кожи. </p>
                <p> Для д-ра Juchheim пептиды являются предметом интенсивных исследований. Таким образом, в исследованиях было обнаружено, что определенные комбинации пептидов обладают антиоксидантным эффектом, разглаживают морщины и позволяют коже выглядеть более свежей и молодой. В результате косметические пептиды играют важную роль и вносят значительный вклад в впечатляющий эффект метода д-ра Juchheim.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
