<div class="header">
  <div class="header-left">
  </div>

  <app-head></app-head>
</div>
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand nav-middle" [routerLink]="['/main']" routerLinkActive="active">JUCHEIM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/about']" routerLinkActive="active">О комании</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Доставка</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            Продукты
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <ng-container *ngFor="let item of products">
              <a class="dropdown-item" [routerLink]="['/main/'+ item.id]" routerLinkActive="active">{{item.name}}</a>
            </ng-container>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" style="margin-left: 10px">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </div>
</nav>
