li a:hover {
  color: #efe5d7; /* Цвет текста активного пункта */
  background-color: #efe9aa; /* Цвет фона активного пункта */
}

.nav-middle {
  margin-left: 22%;
}

.left_nav{
  width: 20%;
}

.nav_bg{
 /*margin-top: 335px;*/
  background-image: url("src/assets/img/horizontal-nav.png");
}


@media (max-width: 900px) and (min-width: 0px) {
  .nav-middle
  {
    margin-left: 0%;
  }
  .left_nav{
    width: 30%;
  }
}


