<div class="row main_card">
  <div class="col-sm-6" >
    <div class="card card-block">
      <div class="img_card">
        <img class="card-img-top" src="assets/img/123.jpg" alt="Card image cap">
      </div>
      <h3 class="card-title">ORGANIC PROTECT & REPAIR WONDER CREAM</h3>
      <p class="card-text">Категория: Масла</p>
      <p class="card-text price_text">8000 сом</p>
      <div style= "margin: 0 10px 0 auto; margin-bottom: 10px;">
        <a href="#" class="btn btn-info" style="margin-right: 15px">Просмотр</a>
        <a href="#" class="btn btn-primary">В корзину</a>
      </div>
    </div>
  </div>
</div>
