.main_card{
  margin-top: 400px;
  margin-left: 15%;
  width: 80%;
}
.img_card{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.price_text{
  color: red;
}

.font-title{
  font-size: 15px;
}

@media (max-width: 900px) and (min-width: 0px) {
  .font-title{
    font-size: 12px;
  }
}

@media (max-width: 700px) and (min-width: 400px) {
  .font-title {
    font-size: 10px;
  }

}

@media (max-width: 400px) and (min-width: 0px) {

  .main_card {
    margin-top: 300px;

  }
}
