.img_card{
  width: 30%;
  height: 30%;
  border: 1px solid darkgrey;
  margin-right: 10px;
}

.left_block{
  float: left;
  display: block;
}

.card_inner {
  width: 80%;
  float: left;
  display: block;
}
.btn-pay {
  margin-top: -20px;
  height: 30px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 10%;
}

.pay div{
  display:inline-block;
}

@media (max-width: 900px) and (min-width: 0px) {
  .card_inner{
    width: 70%;
  }
}
