<div class="card_inner">
  <div class="card-body left_block">
    <div class="img_card left_block">
      <img class="card-img-top" src="assets/img/123.jpg" alt="Card image cap">
    </div>
    <div>
      <h5 class="card-title">ORGANIC PROTECT & REPAIR wonder cream 50 мл</h5>
    </div>
    <div>
      <p>
      <font style="color: red;font-weight: bold">8000 сом</font>  + Доставка
        Grundpreis <font style="font-weight: bold">10000 сом</font> / 100 ml
      </p>
      <input type="number" placeholder="0" style="width: 80px; margin-right: 5px"/>
      <a href="#" class="btn btn-primary">Добавить в корзину</a>
    </div>
    <div>
      <h4>Описание:</h4>
      <p class="card-text">Мощный крем Bio Wonder, основанный на чистом алоэ-барбаденсисе, помогает защитить уставшую и поврежденную кожу сразу же после первого применения, омолодит и сделает её сияющей.
        Organic Protect & Repair Wonder крем активирует процесс естественной регенерации клеток кожи и помогает компенсировать недостатки, вызванные стрессом и вредными воздействиями окружающей среды. Инновационная и ценная текстура с силой природы делают кожу более мягкой, сияющей и молодой. Для чувствительной и поврежденной кожи.
        Идеально сочетается с Organic Protect & Repair Complex Serum. Сертифицированная роскошная натуральная косметика.</p>
    </div>
  </div>
</div>
