.main_card{
  width: 80%;
}
.img_card{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.price_text {
  color: red;
}

.title_card{
  color: darkgoldenrod;
}

.title_card:hover {
  color: red;
}

.img_scale {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
}
.img_scale img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
}
.img_scale img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}


.font-title{
  font-size: 15px;
}

@media (max-width: 700px) and (min-width: 0px) {
  .font-title{
    font-size: 10px;
  }
}

@media (max-width: 900px) and (min-width: 0px) {
  .main_card{
    width: 70%;
  }
  .font-title{
    font-size: 12px;
  }
}

